{% extends "base.html" %}
{% block title %}Basic calculator{% endblock %}
{% block calculator %}

<form action="#" method="post" style="margin-top : 25%">
  <button type="submit" class="btn btn-warning btn-lg">Enter basic calculator</button>
  <p class="mt-5 text-muted">© MaxTheos 2020</p>
</form>



{% endblock %}
