  {% extends "base.html" %}
  {% block title %}Basic calculator{% endblock %}
  {% block calculator %}
  <style>
  .row2{
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    /* background-color: white; */

  }

  .col2{
    flex: 1 0 0%;
    margin-top: 5px;
    /* background-color: white; */
  }

  .btn-lg{
    width:100px;
  }

  </style>
  <div id="container2" style="width : 420px; margin-top: 100px; margin-right: auto; margin-left: auto; background-color: #D7E1E9;padding : 3px;">
    <form action="#" method="post">
    <!-- First row2 -->
    <div class="row2">
      <div class="col2" style="margin-top:0px">
        <input type="text" class="form-control" placeholder="{{result}}" style="width : 100%;" disabled>
      </div>
    </div>
    <!-- Second row2 -->
    <div class="row2">
      <div class="col2">
        <button type="submit" class="btn btn-secondary btn-lg" name = "menu" value = "menu" >Menu 2</button>
        <button type="submit" class="btn btn-secondary btn-lg" name = "del" value = "del" >Del</button>
        <button type="submit" class="btn btn-secondary btn-lg" name = "ac" value = "ac" >C/AC</button>
        <button type="submit" class="btn btn-warning btn-lg" name = "divide" value = "divide" style="width : 100px">÷</button>
      </div>
    </div>
    <!-- Third row2 -->
    <div class="row2">
      <div class="col2">
        <button type="submit" class="btn btn-light btn-lg" name = "seven" value = "seven" style="width : 100px">7</button>
        <button type="submit" class="btn btn-light btn-lg" name = "eight" value = "eight" >8</button>
        <button type="submit" class="btn btn-light btn-lg" name = "nine" value = "nine" >9</button>
        <button type="submit" class="btn btn-warning btn-lg" name = "multiply" value = "multiply" style="width : 100px">x</button>
      </div>
    </div>
    <!-- Fourth row2 -->
    <div class="row2">
      <div class="col2">
        <button type="submit" class="btn btn-light btn-lg" name = "four" value = "four" style="width : 100px">4</button>
        <button type="submit" class="btn btn-light btn-lg" name = "five" value = "five" >5</button>
        <button type="submit" class="btn btn-light btn-lg" name = "six" value = "six" >6</button>
        <button type="submit" class="btn btn-warning btn-lg" name = "minus" value = "minus" style="width : 100px">−</button>
      </div>
    </div>
  <!-- Fifth row2 -->
    <div class="row2">
      <div class="col2">
        <button type="submit" class="btn btn-light btn-lg" name = "three" value = "three" style="width : 100px">3</button>
        <button type="submit" class="btn btn-light btn-lg" name = "two" value = "two" >2</button>
        <button type="submit" class="btn btn-light btn-lg" name = "one" value = "one" >1</button>
        <button type="submit" class="btn btn-warning btn-lg" name = "plus" value = "plus" style="width : 100px">+</button>
      </div>
    </div>
  <!-- Six row2 -->
    <div class="row2">
      <div class="col2">
        <button type="submit" class="btn btn-light btn-lg" name = "zero" value = "zero" style="width : 100px">0</button>
        <button type="submit" class="btn btn-light btn-lg" name = "dot" value = "dot" >.</button>
        <button type="submit" class="btn btn-light btn-lg" name = "ans" value = "ans" >Ans</button>
        <button type="submit" class="btn btn-danger btn-lg" name = "equal" value = "equal" style="width : 100px">=</button>
      </div>
    </div>


      <div class="row2">
        <div class="col2">
          <button type="submit" class="btn btn-info btn-lg" name = "sin" value = "sin" >sin(x)</button>
          <button type="submit" class="btn btn-info btn-lg" name = "cos" value = "cos" >cos(x)</button>
          <button type="submit" class="btn btn-info btn-lg" name = "tg" value = "tg" >tg(x)</button>
          <button type="submit" class="btn btn-info btn-lg" name = "ctg" value = "ctg" >ctg(x)</button>

        </div>
      </div>

      <div class="row2">
        <div class="col2">
          <button type="submit" class="btn btn-info btn-lg" name = "exp" value = "exp" >exp(x)</button>
          <button type="submit" class="btn btn-info btn-lg" name = "sqrt" value = "sqrt" >sqrt(x)</button>
          <button type="submit" class="btn btn-info btn-lg" name = "ln" value = "ln" style="width : 100px">ln(x)</button>
          <button type="submit" class="btn btn-info btn-lg" name = "lg" value = "lg" style="width : 100px">lg(x)</button>
        </div>
      </div>

      <div class="row2">
        <div class="col2">
          <button type="submit" class="btn btn-info btn-lg" name = "abs" value = "abs" >abs(x)</button>
          <button type="submit" class="btn btn-info btn-lg" name = "int" value = "int" >int(x)</button>
          <button type="submit" class="btn btn-info btn-lg" name = "sign" value = "sign" style="width : 100px">sign(x)</button>
          <button type="submit" class="btn btn-info btn-lg" name = "invert" value = "invert" style="width : 100px">invert(x)</button>
        </div>
      </div>

      <div class="row2">
        <div class="col2">
          <button type="submit" class="btn btn-info btn-lg" name = "pi" value = "pi" >π</button>
          <button type="submit" class="btn btn-info btn-lg" name = "e" value = "e" >e</button>
          <button type="submit" class="btn btn-info btn-lg" name = "rad" value = "rad" style="width : 100px">rad/deg</button>
          <button type="submit" class="btn btn-success btn-lg" name = "history" value = "history" style="width : 100px" disabled>history</button>
        </div>
      </div>

    </form>
  </div>
  <p class="mt-5 text-muted">© MaxTheos 2020</p>

  {% endblock %}
